scrapy
kafka-python
pymongo
redis
beautifulsoup4
requests
pandas
streamlit
streamlit-autorefresh
plotly
underthesea
sentence-transformers
scikit-learn
scrapy-playwright
openai
bertopic
hdbscan
umap-learn
torch
torchvision
python-dotenv
PyYAML
extra-streamlit-components

