six

scrapy
kafka-python
pymongo
redis
beautifulsoup4
scrapy_playwright
requests==2.32.3
urllib3==2.2.2
charset-normalizer==3.3.2
chardet==5.2.0

pandas
numpy
streamlit
streamlit-autorefresh
plotly
extra-streamlit-components

torch==2.3.1
torchvision==0.18.1
sentence-transformers==3.0.1
transformers==4.41.2
scikit-learn

python-dotenv
PyYAML
pymilvus